@charset "utf-8";

/* Responsive styles
-------------------------------------------------------------- */




@media (min-width: 1263px) and (max-width: 1439px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:1120px; }
	.content_wrap, .content_container {	width:1000px; }

	/* Content and Sidebar */
	/*.sidebar_show .content*/
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 660px; }
	.sidebar { 				 width: 300px; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 340px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -300px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  340px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-300px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 680px; }
	.woocommerce .sidebar { 			 width: 280px; }

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 320px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  320px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-280px; }
	
	/* Logo and title */
	.post_layout_excerpt .post_title {
		margin-left:0;
		margin-right:0;
	}

	/* Hover on featured image */
	.post_featured.with_thumb:before {
		width: 90px;
		height: 90px;
		margin:-45px 0 0 -45px;
	}
	.post_featured .icons a+a {
		margin-left:4px;
	}

	/* Widgets */
	.widget_socials .social_item {
		margin: 0 0.8em 0.8em 0;
	}
	aside .trx_tabs .trx_tabs_titles li + li {
		margin-left:0.4em;
	}
	aside .trx_tabs .trx_tabs_titles li a {
		padding: 2px 0.5em;
	}
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	height: 560px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	height: 280px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	height: 140px;  }









}
@media (min-width: 1136px) and (max-width: 1262px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:1030px; }
	.content_wrap, .content_container {	width:910px; }

	/* Content and Sidebar */
	/*.sidebar_show .content*/
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 610px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 630px; }

	/* Widgets */
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	height: 512px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	height: 256px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	height: 128px;  }








}
@media (min-width: 1024px) and (max-width: 1135px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.content_wrap, .content_container {	width:964px; }

	/* Content and Sidebar */
	/*.sidebar_show .content*/
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 664px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 684px; }

	/* Widgets */
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	height: 540px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	height: 270px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	height: 135px;  }














}
@media (min-width: 960px) and (max-width: 1023px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.content_wrap, .content_container {	width:900px; }

	/* Content and Sidebar */
	/*.sidebar_show .content*/
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 600px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 620px; }

	/* Widgets */
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	height: 504px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	height: 252px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	height: 126px;  }








}
@media (min-width: 960px) and (max-width: 1262px) {

	body {	font-size: 14px; }
	h1 { font-size:2.1429em; }	/* 30px */
	h2 { font-size:2em; }		/* 28px */
	h3 { font-size:1.7143em; }	/* 24px */
	h4 { font-size:1.2857em; }	/* 18px */
	h5 { font-size:1.1429em; }	/* 16px */
	h6 { font-size:1em; }		/* 14px */

	.sidebar { 				 width: 270px; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 300px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -270px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  300px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-270px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce .sidebar { 			 width: 250px; }

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 280px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -250px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-250px; }

	/* Logo and title */
	.post_layout_excerpt .post_title {
		margin-left:0;
		margin-right:0;
	}

	/* Hover on featured image */
	.post_featured.with_thumb:before {
		width: 80px;
		height: 80px;
		margin:-40px 0 0 -40px;
	}
	.post_featured .icons a {
		font-size: 16px;
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	.post_featured .icons a+a {
		margin-left:4px;
	}

	/* Widgets */
	.sidebar {
		font-size:0.9286em;
	}
	.widget_area .post_item .post_info,
	aside .post_item .post_info {
		font-size:0.9231em;
	}
	.widget_area .post_item .post_info_counters,
	aside .post_item .post_info_counters {
		display:block;
	}
	.widget_area .post_item .post_info_counters:before,
	aside .post_item .post_info_counters:before {
		margin-left:0 !important;
	}
	.widget_socials .social_item {
		margin: 0 0.8em 0.8em 0;
	}
	.widget_socials .social_item span {
		width:3em;
		height:3em;
		line-height:3em;
	}
	aside .trx_tabs .trx_tabs_titles li + li {
		margin-left:0.4em;
	}
	aside .trx_tabs .trx_tabs_titles li a {
		padding: 2px 0.25em;
	}
	aside .widget_calendar td .day_wrap {
		padding:6px 3px;
	}

	/* Posts */	
	.nav-links-old {
		font-size: 0.8571em;
	}
	
	/* WooCommerce */
	.woocommerce div.product .product_title {
		font-size: 2.5em;
	}
	iframe.youtube_post_frame{
		height: 337px;
	}









}
@media (min-width: 768px) and (max-width: 959px) {

	body.vcard-3-4 h1.title_page{
		font-size: 30px;
	}
	body {	font-size: 14px; }
	h1 { font-size:2.1429em; }	/* 30px */
	h2 { font-size:2em; }		/* 28px */
	h3 { font-size:1.7143em; }	/* 24px */
	h4 { font-size:1.2857em; }	/* 18px */
	h5 { font-size:1.1429em; }	/* 16px */
	h6 { font-size:1em; }		/* 14px */

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.content_wrap, .content_container {	width:708px; }

	/* Content and Sidebar */
	/*.sidebar_show .content */
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content {	width:100%; float: none; }
	.sidebar { 				 width: 100%; float:none; margin-top:0px; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; float:none; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; float:none; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left: 0 !important; float:none; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; float:none; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top:2.3077em; }

	.gallery.gallery-columns-9 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 20% !important; }
	
	/* Page title */
	.logo img {
		max-height:15em;
	}
	.post_layout_excerpt .post_title {
		margin-left:0;
		margin-right:0;
	}

	/* Posts */
	.author_bio {
		font-size: 0.9286em;
	}
	.nav-links-old {
		font-size: 0.8571em;
	}
	/* Hover on featured image */
	.post_featured.with_thumb:before {
		width: 80px;
		height: 80px;
		margin:-40px 0 0 -40px;
	}
	.post_featured .icons a {
		font-size: 16px;
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	.post_featured .icons a+a {
		margin-left:4px;
	}	
	/* Widgets */
	.sidebar {
		font-size:0.9286em;
	}
	.widget_area .post_item .post_info,
	aside .post_item .post_info {
		font-size:0.9231em;
	}
	div:not(.wpb_content_element) > aside:not(.column-1_1) {
	    display: inline-block;
	    float: none;
	    vertical-align: top;
	    width: 45%;
	    margin-top: 4%;
	    margin-bottom: 1.75em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 15px;
	}
	body.blog1 div:not(.wpb_content_element) > aside:not(.column-1_1) {
	    width: 100%;
	}
	body.blog_mode_home2 .header_boxed div:not(.wpb_content_element) > aside:not(.column-1_1) {
	    display: inline-block;
	    float: none;
	    vertical-align: top;
	    width: 100%;
	    margin-top: 4%;
	    margin-bottom: 1.75em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 15px;
	}
	body.blog_mode_home2 .header_boxed div:not(.wpb_content_element) > aside:not(.column-1_1) {
	    display: inline-block;
	    float: none;
	    vertical-align: top;
	    width: 100%;
	    margin-top: 4%;
	    margin-bottom: 1.75em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 15px;
	}
	body.blog1 div:not(.wpb_content_element) > aside:not(.column-1_1) {
	    width: 100%;
	}
	body.blog_mode_home_dark .header_boxed div:not(.wpb_content_element) > aside:not(.column-1_1) {
	    display: inline-block;
	    float: none;
	    vertical-align: top;
	    width: 97%;
	    margin-top: 4%;
	    margin-bottom: 1.75em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 15px;
	}
	.header_fullwidth aside,
	.footer_fullwidth aside {
		width:100% !important;
		display:block !important;
		margin-left:0 !important;
		margin-bottom:0 !important;
	}
	div:not(.wpb_content_element) > aside:nth-child(2n+1) {
		margin-left:0;
	}
	aside[class*="column-"] {
		margin-left:0;
	}

	.widget_socials .social_item {
		margin: 0 0.8em 0.8em 0;
	}
	aside .trx_tabs .trx_tabs_titles li + li {
		margin-left:0.4em;
	}
	aside .trx_tabs .trx_tabs_titles li a {
		padding: 2px 0.5em;
	}
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px;  }
	
	/* WooCommerce */
	.woocommerce div.product .product_title {
		font-size: 2.5em;
	}

	.widget_flickr .flickr_images {
	    margin-right: 0;
	}
	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_images > a {
	    width: 29% !important;
	}
	body.vcard-3-4 .trx_addons_hover_mask {
	    position: absolute;
	    overflow: hidden;
	    top: 10px;
	    left: 10px;
	    bottom: 10px;
	    right: 10px;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    background-color: rgba(239, 167, 88, 0.8);
	    -webkit-transition: all 0.3s 0.1s ease-out;
	    -moz-transition: all 0.3s 0.1s ease-out;
	    -ms-transition: all 0.3s 0.1s ease-out;
	    transition: all 0.3s 0.1s ease-out;
	}
	body.vcard-3-4 .trx_addons_hover_style_wide.trx_addons_hover_mask {
	    top: -27px;
	}
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content {
	    margin-bottom: 0px;
	}






}
@media (min-width: 640px) and (max-width: 767px) {
	
	body.vcard-3-4 h1.title_page{
		font-size: 30px;
	}
	/* Body sizes */
	.content_wrap, .content_container {	width:600px; }

	/* Widgets */
	div:not(.wpb_content_element) > aside:not(.column-1_1) {
		width:48%;
		margin-left:4%;
	}

	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px;  }











}
@media (min-width: 480px) and (max-width: 639px) {

	/* Body sizes */
	.content_wrap, .content_container {	width:440px; }

	/* Widgets */
	aside {
		width:100%;
		margin-left:0;
	}
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px;  }

	/* Single post */
	.related_wrap .post_header {
		max-width:90%;
		padding:1em 1.5em;
	}








}
@media (min-width: 480px) and (max-width: 767px) {

	body.vcard-3-4 .trx_addons_cv_header_socials {
	    margin: 1.5em 0 0 0;
	    padding-bottom: 75px;
	}
	body.main_home_page a.blog_btn img{
		width: 100% !important;
	}
	body {	font-size: 12px; }
	h1 { font-size:2em; }		/* 24px */
	h2 { font-size:2em; }		/* 24px */
	h3 { font-size:1.5em; }		/* 18px */
	h4 { font-size:1.1667em; }	/* 14px */
	h5 { font-size:1em; }		/* 12px */
	h6 { font-size:1.0833em; }	/* 13px */

	body {	font-size: 13px; }
	h1 { font-size:2em; }		/* 26px */
	h2 { font-size:1.8462em; }	/* 24px */
	h3 { font-size:1.5385em; }	/* 20px */
	h4 { font-size:1.3846em; }	/* 18px */
	h5 { font-size:1.1538em; }	/* 15px */
	h6 { font-size:1em; }		/* 13px */

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }

	/* Content and Sidebar */
	/*.sidebar_show .content */
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width:100%; float: none; margin-bottom:0;	}
	.sidebar { 				 width: 100%; float:none; margin-top:2.3077em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; float:none; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; float:none; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left: 0 !important; float:none; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; float:none; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top:2.3077em; }

	/* Grid */
	.container, .container-fluid {
		padding-left:  10px;
		padding-right: 10px;
	}
	.row, .columns_wrap {
		margin-right: -20px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 20px;
	}
	.row.columns_padding_left, .columns_wrap.columns_padding_left {
		margin-left: -20px;
	}
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: 20px;
	}
	.row.columns_padding_right, .columns_wrap.columns_padding_right {
		margin-right: -20px;
	}
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right:20px;
	}
	.row.columns_padding_center, .columns_wrap.columns_padding_center {
		margin-left: -10px;
		margin-right: -10px;
	}
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left:20px;
	}
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom {
		padding-bottom: 20px;
	}
	/* Max 2 columns in the row */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:49%;
	}
	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5,	.row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n),
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
	.row:not(.columns_fluid) > .column-1_3.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
	.row:not(.columns_fluid) > .column-1_4.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,
	.row:not(.columns_fluid) > .column-1_5:nth-child(5n), .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5n),
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
		padding-top: 20px;
	}	
	.gallery.gallery-columns-9 .gallery-item {	width: 32.3333% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 32.3333% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 32.3333% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 32.3333% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 32.3333% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 32.3333% !important; }

	.admin-bar.top_panel_fixed .top_panel_wrap { top:46px; }
	.admin-bar #debug_log { top:46px; }	
	/* Page title */
	.logo img {
		max-height:15em;
	}
	.post_layout_excerpt .post_title {
		margin-left:0;
		margin-right:0;
	}
	/* Mobile menu */
	.menu_mobile_button {
		font-size:3.3333em;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top:4em;
	}
	.post_layout_classic {
		margin-bottom:4em;
	}
	.post_layout_classic .post_counters {
		display:block;
	}
	.post_layout_classic .post_counters .post_counters_item:first-child:before {
		display:none;
	}
	.post_layout_classic .more-link {
		padding:0 1em;
	}	
	/* Hover on featured image */
	.post_featured.with_thumb:before {
		width: 80px;
		height: 80px;
		margin:-40px 0 0 -40px;
	}
	.post_featured .icons a {
		font-size: 16px;
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	.post_featured .icons a+a {
		margin-left:4px;
	}	
	/* Single post */
	.author_bio {
		font-size: 0.9231em;
	}
	.nav-links-old {
		font-size: 0.9231em;
	}
	/* Comments */
	.comments_list_wrap ul ul {
		margin-left: 3.3333em;
	}
	.comments_list_wrap ul ul ul {
		margin-left:0;
	}
	.comments_list_wrap .comment_author_avatar {
		position: static;
		float:left;
		margin: 0 2em 1em 0;
	}
	.comments_list_wrap .comment_content {
		padding-left:0;
	}
	.comments_list_wrap .comment_text {
		font-size:0.9231em;
	}	
	/* Widgets */
	.sidebar {
		font-size:0.9231em;
	}
	.widget_area .post_item .post_info,
	aside .post_item .post_info {
		font-size:0.9167em;
	}
	.widget_area .post_item .post_info_counters,
	aside .post_item .post_info_counters {
		display:block;
		margin-top:0.2em;
	}
	.widget_area .post_item .post_info_counters:before,
	aside .post_item .post_info_counters:before {
		margin-left:0 !important;
	}
	aside:not(.column-1_1) {
		display: inline-block;
		float:none;
		vertical-align:top;
		margin-bottom:1.75em;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}
	.header_fullwidth aside,
	.footer_fullwidth aside {
		width:100% !important;
		display:block !important;
		margin-left:0 !important;
		margin-bottom:0 !important;
	}
	div:not(.wpb_content_element) > aside:nth-child(2n+1) {
		margin-left:0;
	}
	aside[class*="column-"] {
		margin-left:0;
	}
	.widget_socials .social_item {
		margin: 0 0.8em 0.8em 0;
	}
	td, th {
		padding:2px;
	}
	/* AxiomThemes Addons */
	.widget_area .post_item .post_title,
	aside .post_item .post_title {
		margin-top:0;
	}
	.widget_area .trx_tabs .trx_tabs_titles li + li,
	aside .trx_tabs .trx_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .trx_tabs .trx_tabs_titles li a,
	aside .trx_tabs .trx_tabs_titles li a {
		padding: 2px 0.5em;
	}
	.header_wrap .slider_swiper.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
		padding: 2em;
	}
		/* Instagram Feed */
	.column-1_1 #sb_instagram .sbi_item {
		min-width:25%;
	}	
	/* Woocommerce */
	.woocommerce div.product .product_title {
		font-size: 2.5em;
	}
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6 {
		width: 50%;
	}
	.woocommerce .list_products.shop_mode_list ul.products li.product,
	.woocommerce-page .list_products.shop_mode_list ul.products li.product {
		width:100%;
	}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: none;
	}
	.woocommerce ul.products li:nth-child(2n+3), .woocommerce-page ul.products li:nth-child(2n+3) {
		clear: both;
	}
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images,
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width:100%;
	}












}
@media (max-width: 479px) {

	h3.slide_title{
	    font-size: 12px;
	    font-weight: 900;
	    line-height: 1.5em;
	    letter-spacing: 3px;
	    margin: .5em 0;
	}
	body.vcard-3-4 h1.title_page{
		font-size: 22px;
		padding-left: 0px;
		padding-bottom: 10px;
	}
	.icon-menu::before {    
	    right: 6px;
	}
	.slider_swiper_all_posts {
	    height: 168px;
	}
	iframe.youtube_post_frame {
	    height: 168px;
	}
	body {	font-size: 12px; }
	h1 { font-size:1.8333em; }	/* 22px */
	h2 { font-size:1.6667em; }	/* 20px */
	h3 { font-size:1.5em; }		/* 18px */
	h4 { font-size:1.1667em; }	/* 14px */
	h5 { font-size:1.0833em; }	/* 13px */
	h6 { font-size:1em; }		/* 12px */
	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.content_wrap, .content_container {	width:300px; }
	/* Content and Sidebar */
	/*.sidebar_show .content */
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content {	width:100%; float: none; }
	.sidebar { 				 width: 100%; float:none; margin-top:2.3077em; }	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0; float:none; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0; float:none; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0; float:none; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:0; float:none; }
	/* WooCommerce: Content and Sidebar */
	.woocommerce:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top:2.3077em; }
	/* Grid */
	.container, .container-fluid {
		padding-left:  5px;
		padding-right: 5px;
	}
	.row, .columns_wrap {
		margin-right: -10px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 10px;
	}
	.row.columns_padding_left, .columns_wrap.columns_padding_left {
		margin-left: -10px;
	}
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: 10px;
	}
	.row.columns_padding_right, .columns_wrap.columns_padding_right {
		margin-right: -10px;
	}
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right:10px;
	}
	.row.columns_padding_center, .columns_wrap.columns_padding_center {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left:10px;
	}
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom {
		padding-bottom: 10px;
	}

	/* Columns */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:100%;
	}
	.row.columns_fluid > [class*="column-"], .columns_wrap.columns_fluid > [class*="column-"] {
		width:50%;
	}
	.row.columns_fluid > .column-1_1, .row.columns_fluid > .column-2_2, .row.columns_fluid > .column-3_3, .row.columns_fluid > .column-4_4, .row.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .row.columns_fluid > .column-7_7, .row.columns_fluid > .column-8_8, .row.columns_fluid > .column-9_9, .row.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .row.columns_fluid > .column-12_12,
	.columns_wrap.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-3_3,
	.columns_wrap.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-6_6,
	.columns_wrap.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-9_9,
	.columns_wrap.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-12_12,
	.row.columns_fluid > .column-1_3:nth-child(3n), .columns_wrap.columns_fluid > .column-1_3:nth-child(3n),
	.row.columns_fluid > .column-2_3, .columns_wrap.columns_fluid > .column-2_3,
	.row.columns_fluid > .column-1_3.after_span_2, .columns_wrap.columns_fluid > .column-1_3.after_span_2,
	.row.columns_fluid > .column-2_4, .columns_wrap.columns_fluid > .column-3_4,
	.row.columns_fluid > .column-1_4.after_span_2, .columns_wrap.columns_fluid > .column-1_4.after_span_3,
	.row.columns_fluid > .column-1_5:nth-child(5n), .columns_wrap.columns_fluid > .column-1_5:nth-child(5n),
	.row.columns_fluid > .column-2_5, .columns_wrap.columns_fluid > .column-2_5,
	.row.columns_fluid > .column-3_5, .columns_wrap.columns_fluid > .column-3_5,
	.row.columns_fluid > .column-4_5, .columns_wrap.columns_fluid > .column-4_5,
	.row.columns_fluid > .column-2_6, .columns_wrap.columns_fluid > .column-2_6,
	.row.columns_fluid > .column-3_6, .columns_wrap.columns_fluid > .column-3_6,
	.row.columns_fluid > .column-4_6, .columns_wrap.columns_fluid > .column-4_6,
	.row.columns_fluid > .column-5_6, .columns_wrap.columns_fluid > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]+[class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
	.row.columns_fluid > [class*="column-"]:nth-child(2n+3), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.row.columns_fluid > [class*="column-"]:nth-child(2n+4), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
		padding-top: 20px;
	}
	.gallery.gallery-columns-9 .gallery-item {	width: 49% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 49% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 49% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 49% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 49% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 49% !important; }
	.gallery.gallery-columns-3 .gallery-item {	width: 49% !important; }

	/* Top Panel */
	.admin-bar.top_panel_fixed .top_panel_wrap { top:46px; }
	.admin-bar #debug_log { top:46px; }
	
	/* Logo and title */
	.logo img {
		max-height:15em;
	}
	.logo i {
		font-size:4.4em;
	}
	.post_layout_excerpt .post_title {
		margin-left:0;
		margin-right:0;
	}
	/* Mobile menu */
	.menu_mobile_button {
		font-size:2.5em;
	}
	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}
	.post_layout_classic .more-link,
	.post_layout_excerpt .more-link {
		padding:0 1em;
	}
	.format-aside .post_content,
	.format-link .post_content,
	.format-status .post_content {
		font-size: 1.5em;
		line-height:1.3em;
	}
	.format-aside .post_content .post_meta,
	.format-link .post_content .post_meta,
	.format-status .post_content .post_meta {
		font-size: 0.6667em;
		line-height:1.7333em;
	}
	.post_counters:not(.post_counters_single) {
		display:block;
	}
	.post_counters:not(.post_counters_single) .post_counters_item:first-child:before {
		display:none;
	}
	.nav-links-old {
		font-size: 1em;
		margin-top: 5em;
	}
	.nav-links-old .nav-prev a::before,
	.nav-links-old .nav-next a::after {
		font-size: 1.1em;
	}
	/* Hover on featured image */
	.post_featured.with_thumb:before {
		width: 60px;
		height: 60px;
		margin:-30px 0 0 -30px;
		border-width: 1px;
	}
	.post_featured .icons a {
		font-size: 16px;
		width: 24px;
		height: 24px;
		line-height: 24px;
	}
	.post_featured .icons a+a {
		margin-left:0;
	}	
	/* Single post */
	.post_item_single .post_counters {
		font-size: 1em;
	}
	.author_bio {
		font-size: 0.9167em;
	}
	.single .nav-links .nav-previous, 
	.single .nav-links .nav-next {
		width:100%;
		padding:0;
		float:none;
	}
	.single .nav-previous {
		margin-bottom:1em;
	}
	/* Comments */
	.comments_list_wrap ul ul {
		margin-left: 3.3333em;
	}
	.comments_list_wrap ul ul ul {
		margin-left:0;
	}
	.comments_list_wrap .comment_author_avatar {
		position: static;
		float:left;
		margin: 0 2em 1em 0;
	}
	.comments_list_wrap .comment_author {
		display:block;
		margin-bottom:0.2em;
		text-align:left;
	}
	.comments_list_wrap .comment_date {
		margin-left:0;
	}
	.comments_list_wrap .comment_content {
		padding-left:0;
	}
	.comments_list_wrap .comment_text {
		font-size: 0.9167em;
	}
	/* Cindy J Addons Widgets */
	.sidebar {
		font-size: 1em;
	}
	aside {
		display: inline-block;
		float:none;
		vertical-align:top;
		width:100%;
		margin-left:0%;
		margin-bottom:1.75em;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title,
	aside .post_item .post_title {
		margin-top:0;
	}
	.widget_area .trx_tabs .trx_tabs_titles li + li,
	aside .trx_tabs .trx_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .trx_tabs .trx_tabs_titles li a,
	aside .trx_tabs .trx_tabs_titles li a {
		padding: 2px 0.5em;
	}
	.header_wrap .slider_swiper.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
		padding:1.5em;
	}	
	.socials_share .social_items {
		right: auto;
		left: 0;
	}
	.socials_share .social_items:before {
		right: auto;
		left: 15%;
	}	
	/* Instagram Feed */
	.column-1_1 #sb_instagram .sbi_item {
		min-width:25%;
	}
	/* Recent News */
	body.expand_content .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	body.expand_content .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px;  }
	body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
	body.expand_content .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px;  }
	
	/* Copyright */
	.copyright_wrap .copyright_text {
		font-size: 0.9167em;
	}
	/* Woocommerce */
	.woocommerce div.product .product_title {
		font-size: 1.8333em;
	}
	.woocommerce[class*="column-"] ul.products li.product, .woocommerce-page[class*="column-"] ul.products li.product,
	.woocommerce ul.products li.product[class*="column-"], .woocommerce-page ul.products li.product[class*="column-"],
	.woocommerce .related.products ul.products li.product[class*="column-"], .woocommerce-page .related.products ul.products li.product[class*="column-"],
	.woocommerce .upcells.products ul.products li.product[class*="column-"], .woocommerce-page .upcells.products ul.products li.product[class*="column-"] {
		width: 100%;
		float:none;
	}
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images,
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width:100%;
	}
	.slider_swiper.slider_titles_center .slide_info.slide_info_large {
	    padding: 3em 2em;
	    width: 70%;
	}
	.post_layout_classic, .scheme_default .post_layout_excerpt {
	    border-color: #f0f1f2;
	    margin: 20px;
	}
	.trx_addons_cv_header_letter {
	    line-height: 114px;
	}
	body.vcard-3-4 .trx_addons_cv_header_socials {
	    margin: 1.5em 0 0 0;
	    padding-bottom: 75px;
	}
	body.blog_main .sidebar {
	    padding: 20px;
	}
	body.blog_mode_blog .sidebar {
	    padding: 20px;
	}
	body.typography_page .post_content {
		padding: 0 20px;
	}
	body.single .content{
		padding: 0 20px;
	}
	body.not_exists_page .content{
		padding: 0 20px;
	}
	body.blog .sidebar{
		padding: 20px;
	}
	body.blog_style_excerpt .content{
		padding: 0 20px;
	}
	body.blog_mode_blog .content{
		padding: 0 20px;
	}
	body.blog_style_portfolio_3 .columns_wrap{
		padding:0 20px;
	}




}
@media (max-width: 782px) {
	.admin-bar .menu_mobile_overlay, 
	.admin-bar .menu_mobile {
		top:46px;
	}
}
@media (max-width: 799px) {
	.mfp-figure figcaption {
		margin-bottom:0 !important;
	}
}